<div class="card">
  <div class="card-header bordered">
      <div class="header-block">
          <h3 class="title">Додати подію</h3>
      </div>
  </div>
  <div class="card-block">
      <form>
          <div class="form-group">
              <label class="control-label" for="category">Виберіть категорію</label>
              <select class="form-control" id="category">
                  <option>Option one</option>
                  <option>Option two</option>
                  <option>Option three</option>
                  <option>Option four</option>
              </select>
          </div>
          <div class="form-group">
              <label class="control-label">Виберіть тип</label>
              <div>
                  <label>
                      <input class="radio" name="radios" type="radio">
                      <span>Дохід</span>
                  </label>
              </div>
              <div>
                  <label>
                      <input class="radio" name="radios" type="radio" checked>
                      <span>Витрати</span>
                  </label>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label" for="amount">Введіть суму</label>
              <input type="number" value="0" id="amount" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Додати</button>
      </form>
  </div>
</div>